<%%=doctype%><%# header.rhtml $Revision$ %>
<html lang="<%%=@conf.html_lang%>">
<head>
<%%=header_proc%>
</head>
<body onload="<%%=onload_proc%>">
<% if @error then %><p class="message">Security Error?<br>
<%= @error[0].to_s %><br><%= @error[1][0] %>
</p><% end %>
