  <%= @conf.header %>
  <hr class="sep">

  <div class="form">
  <form action="<%= @conf.update %>" method="POST">
  <p>ここで削除すると、サムネールなど全てのファイルが削除されます。</p>
  <p>本当に削除してよろしいですか？</p>
  <input type="hidden" name="photo" value="<%= @photo.name %>">
  <input type="hidden" name="remove" value="ok">
  <input type="submit" name="confirm" value="はい、削除します">
  </form>
  </div>

  <hr class="sep">
  <%= @conf.footer %>
